// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3d4351;
// heading font
$txt-light: #5c8558;
// header/hero
$txt-accent: #acb1b4;
$form-placeholder: #bcc1c3;
// form placeholder text
// Global colours
$accent-color: #4e1841;
// global accent colour
$accent-color-hover: #8e4c8a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3d4351;
$h3-color: #4e1841;
$h5-color: #3d4351;
// Layout colours
$section-light: #fff;
$section-dark: #d7dfd9;
$to-top-bg: #495061;
$footer-primary: #3d4351;
$footer-secondary: #373d4a;
// Keylines
$keyline-color: #e6e9ea;
$footer-keyline-color: #4e566c;
